# unignore .gitignore file itself
!.gitignore

# ignore all
*

# unignore data/ directory
!data/

# unignore everything inside data/
!data/**

# unignore Makefile, *.cpp, and *.hpp files
!Makefile
!*.cpp
!*.hpp
